[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
unicodecsv = "*"
python-twitter = "*"
"oauth2client" = "*"
pandas = "*"
gspread = "*"
gspread-dataframe = "*"

[dev-packages]

[requires]
python_version = "3.7"
