[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"oauth2client" = "*"
pandas = "*"
gspread = "*"
gspread-dataframe = "*"
python-twitter = "*"

[dev-packages]

[requires]
python_version = "3.6"
